{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_enctype(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% javascripts
        '@ConverterBundle/Resources/public/js/jquery-2.1.4.min.js'
        '@ConverterBundle/Resources/public/js/converter.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
